body{
  font: 20px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#296C95;
  color:#fff;
  padding-top:30px;
  min-height:70px;
  border-bottom:black 3px solid;
}

header #branding h1{
  margin:0;
  text-align:center;
  font-size:50px;
  display:inline;
  padding-left:1em;
}

header #branding img{
	float: left;
	display:inline;	
	height:50px;
	padding-left:12em;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('http://assets.pewresearch.org/interactives/socialtrends/2016/what-do-police-think/lede-graphic.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:30px;
}

#chart-1 img{
  width:50%
  margin-top: 20px;
  margin-left: 0;
  box-sizing: border-box;
  float:left;
}

#boxes .box-1{
	text-align:center;
	padding-right:1.4em;
	width:40%;
	float: left;
	box-sizing:border-box;
}

.linked .b{
  float:right;
  text-align: center;
  width:30%;
}

.linked .a{
	float:right;
	text-align:center;
	width:30%;
}

.linked .a img{
	width:110px;
}



.linked .b img{
    width:90px;
  }

#boxes{
  margin-top:20px;
}


#boxes .box{
  text-align: center;
  width:100%; 
  padding:10px;
}

#boxes .box img{
	position:center;
	width:60%;
  }	




#boxes .box-2{
	text-align:center;
	width:40%;
	padding:10px;
	box-sizing:border-box;
	display:inline;
}
.box-2 #p1{
	font-size:30px;
}

.box-2 #p2{
	font-size:25px;
	font-weight:bold;
}
 	
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#296C95;
  text-align: center;
}
